@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url("/assets/font/JetBrainsMono-Regular.woff2") format("woff2"), url("/assets/font/JetBrainsMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

article h2 {
  padding-top: 2em; }

article h3 {
  padding-top: 2em; }

article em {
  font-weight: normal; }

article strong {
  font-weight: bold; }

article img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em; }

article ul {
  display: block;
  padding-left: 2em; }

article li {
  background-image: url("/assets/img/arrow-cta-yellow.svg");
  background-position-y: 0.3em;
  background-repeat: no-repeat;
  padding-left: 3em; }

article a {
  color: inherit;
  border-bottom: 3px solid #50c0ff; }

article a:hover {
  background-color: #001c46;
  color: white;
  border-bottom: 0px;
  text-decoration: none;
  transition: 0.2s; }

article table {
  border-collapse: collapse;
  width: 100%; }

article th {
  border: 1px solid #50c0ff;
  background-color: #2762f8;
  padding: 0.5em; }

article td {
  border: 1px solid #50c0ff;
  padding: 0.5em; }

ul.tags {
  margin: 1em 0em; }
  ul.tags li {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 0em 0.5em;
    margin: 0.5em 1em; }
  ul.tags a:hover {
    text-decoration: none; }

ul.tags.tags-light li {
  color: white;
  border-color: white; }

ul.tags.tags-light li:hover {
  background-color: white;
  transition: 0.2s; }

ul.tags.tags-light a {
  color: white; }

ul.tags.tags-light li:hover a {
  color: #001c46;
  transition: 0.2s; }

ul.tags.tags-dark li {
  color: #001c46;
  border-color: #001c46; }

ul.tags.tags-dark a {
  color: #001c46; }

ul.tags.tags-dark li:hover a {
  color: white;
  transition: 0.2s; }

ul.tags.tags-dark li:hover {
  background-color: #001c46;
  transition: 0.2s; }

ul.tags.tags-small {
  font-size: 0.75rem;
  margin: 0px; }
  ul.tags.tags-small li {
    display: inline;
    padding: 0.25em 0.5em;
    margin: 0.25em 0em;
    margin-right: 0.25em; }

.button {
  display: block;
  border-style: solid;
  border-color: #50c0ff;
  background-color: #50c0ff;
  border-width: 3px;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  width: fit-content;
  font-size: 1.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  border-radius: 2rem;
  justify-content: center;
  align-items: center; }

.button.expand {
  width: 100%; }

.button.button-center {
  margin: auto; }

.dark .button {
  color: #001c46; }

.light .button {
  color: white; }

.gloaming .button {
  color: white; }

.button:after {
  float: right;
  margin-left: .75em;
  margin-top: 4px; }

.button-hollow {
  display: block;
  border-style: solid;
  border-color: #50c0ff;
  border-width: 3px;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  width: fit-content;
  font-size: 1.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  color: #50c0ff; }

.podcast-item .button {
  font-size: 0.85rem;
  width: 100%; }

.button.button-green {
  background-color: #2762f8 !important;
  border-style: none;
  color: #001c46;
  text-align: center; }

.button.button-dark {
  background-color: #001c46 !important;
  border-style: none;
  color: #50c0ff;
  text-align: center; }

@media (min-width: 992px) {
  .dark .button:after {
    content: url("/assets/img/arrow-cta-dark.svg"); }
  .light .button:after {
    content: url("/assets/img/arrow-cta-white.svg"); }
  .gloaming .button:after {
    content: url("/assets/img/arrow-cta-white.svg"); }
  .button-hollow:after {
    float: right;
    margin-left: .75em;
    margin-top: 4px;
    content: url("/assets/img/arrow-cta-yellow.svg"); }
  .button.button-green:after {
    float: none;
    margin-left: .75em;
    margin-top: 4px;
    content: url("/assets/img/arrow-small-right-dark.svg"); } }

.hero {
  height: 10em;
  min-height: 700px; }

.hero-smaller {
  height: 10em;
  min-height: 400px !important; }

.hero-bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.hero-bg-img-mask {
  height: 100%; }

.hero {
  font-family: "Work Sans", sans-serif; }

.hero h1 {
  color: white;
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.hero h2 {
  color: #e4e4e4;
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0px; }

.hero p.date {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  color: #a0a0a0;
  margin-top: 0px;
  margin-bottom: 2rem; }

span.underline {
  border-bottom: 4px solid #2762f8; }

.hero p {
  margin-top: 1em;
  margin-bottom: 1em; }

pre {
  border-style: solid;
  border-color: #2762f8;
  border-width: 4px;
  margin: 0em 2rem;
  padding: 2em 2em;
  font-family: "JetBrainsMono-Regular", sans-serif; }

.bg-mask {
  background: rgba(24, 41, 53, 0.5); }
